@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
body {
    margin: 0;
    font-family: Helvetica, sans-serif;
}

.logoImg {
    height: 70px;
}

.footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}

.nav {
    background-color: rgb(16, 15, 26);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    top: 0;
    box-shadow: 0px 10px 18px #00000077;
    z-index: 999;
}

.page {
    background-color: dodgerblue;
    padding: 10px;
}

.post {
    width: 70vw;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 10px auto
}

.hero {
    /* position: fixed; */
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 50vh;
    object-fit: cover;
    display: flex;
    filter: blur(20px);
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    margin: -5px -10px -10px -5px;
}

.herot {
    position: absolute;
    /* top: 30%; */
    text-align: center;
    color: white;
    font-size: 1.5em;
    font-weight: bolder;
    text-shadow: rgba(0, 0, 0, 0.705) 0px 5px 10px;
    line-height: 35px;
    text-transform: uppercase;
}

#herospot {
    background-color: black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topTitle {
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.cov {
    width: 100%;
    border-radius: 10px;
}

.white {
    color: white;
    font-weight: bold;
}

.date {
    color: rgb(70, 68, 87);
    font-size: 13px;
    text-align: right;
}

#screen {
    display: flex;
    flex-direction: column;
}

.linkBox {
    background-color: rgb(16, 15, 26);
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
    max-width: 400px;
}

.linkBox:hover {
    background-color: rgb(40, 38, 53);
}

.links {
    text-align: left;
    margin: 0 auto;
    font-size: 20px;
    color: dodgerblue;
}

.title {
    color: rgb(16, 15, 26);
    font-weight: bold;
    font-size: 25px;
}

.body {
    line-height: 22px;
}

.logo {
    color: white;
    margin-left: 2em;
    display: flex;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.menu {
    margin-right: 50px;
    color: white;
}

#thin {
    font-weight: lighter;
    font-size: small;
}